
/* Macc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.screen {
  padding: 5% 5%;
  text-align: center;
  background-color: #5568a8;
  color: #D0D5D7;
  border-radius: 10px;
  border: 5px solid #566398;
  font-family: 'Roboto Mono', monospace;
}

.screen-frame {
  padding: 3% 3%;
  background-color: #FFFFFF;
  border-radius: 7px;
  font-weight: bold;
}

.container {
  padding: 5% 0;
}

.row {
  padding: 0;
}

.row-top {
	padding: 0 4%;
	position: relative;
}

.row-top-inner {
	padding: 0 4%;
	position: absolute;
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

h1.hero-heading{ 
	font-weight: bold;
}

img {
	display: block;
}

.animated.fast {
	animation-duration: .25s;
	animation-delay: .25s;
}

.animated.slow {
	animation-duration: 2s;
	animation-delay: .5s;
}

.animated.med {
	animation-duration: 5s;
	animation-delay: .75s;
}